# These environment variables are needed to run the app locally.
# Copy these into a file named .env.development to have them loaded automatically.

DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres